@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-eczars: var(--font-eczar);
  --spacing-custom: 90%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: white;
  background-color: #0a0a0a;
  background-size: 40px 40px;
  background-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.101) 1px,
          transparent 1px
  ),
  linear-gradient(to bottom, rgba(255, 255, 255, 0.101) 1px, transparent 1px);
  box-shadow:inset 0 0 40px  rgba(35, 35, 255, 0.4);
}

@layer utilities{
  .nav-bar-comp{
    @apply text-white text-xl uppercase py-3 hover:scale-105 transition-all relative after:absolute after:content-[''] after:w-full hover:after:scale-x-100 after:scale-x-0 after:h-1 after:bg-white after:transition-all after:bottom-1 after:left-1/2 after:-translate-x-1/2 leading-none after:duration-300 after:rounded-full select-none ;
  }
  .hero-text{
    @apply bg-[url('../public/bg_image.gif')] text-transparent bg-clip-text font-bold uppercase md:text-9xl text-7xl;
  }
}